# Ballchasing API Key (obtenha gratuitamente em https://ballchasing.com/upload)
BALLCHASING_API_KEY=

# RapidAPI Rocket League API
# Obtenha sua chave em https://rapidapi.com/
RAPIDAPI_KEY=
RAPIDAPI_HOST=rocket-league1.p.rapidapi.com
